<a href="https://colab.research.google.com/github/brenosyperrek/python_para_dc/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [2]:
!python -V

Python 3.7.14

# 1.3 Trabalhando com dados

In [3]:
import pandas as pd
# pd.set_option('display.max_rows', 1000)
# pd.set_option('display.max_columns', 1000)

In [4]:
dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/python_para_dc/db.csv', sep = ';')
dados.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [5]:
dados.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
dados[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
()

()

In [9]:
1, 2, 3

(1, 2, 3)

In [10]:
nome = 'Passat'
valor = 53000
(nome, valor)

('Passat', 53000)

In [11]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [13]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [14]:
nomes_carros[0]

'Jetta Variant'

In [15]:
nomes_carros[1]

'Passat'

In [16]:
nomes_carros[-1]

'DS5'

In [17]:
nomes_carros[:3]

('Jetta Variant', 'Passat', 'Crossfox')

In [18]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [19]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [20]:
nomes_carros[-1][0]

'Fusca'

# 2.3 Iterando em tuplas

In [21]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [22]:
for item in nomes_carros:
  print (item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [23]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [24]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [25]:
carro_1

'Jetta Variant'

In [26]:
carro_2

'Passat'

In [27]:
carro_3

'Crossfox'

In [28]:
carro_4

'DS5'

In [29]:
_, A, _, B = nomes_carros

In [30]:
A

'Passat'

In [31]:
B

'DS5'

In [32]:
_, C, *_ = nomes_carros

In [33]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [34]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [35]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [36]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [37]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [38]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [39]:
for carro, valor in zip(carros, valores):
  if valor >100000:
    print(carro, valor)

Passat 106161.94
DS5 124549.07

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [40]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [41]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [42]:
carros.index('Passat')

1

In [43]:
valores[carros.index('Passat')]

106161.94

In [44]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [45]:
type(dados)

dict

### Criando dicionários com *zip()*

In [46]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [55]:
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [56]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [58]:
'Passat' in dados

True

In [59]:
'Fusca' in dados

False

In [61]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [62]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [63]:
dados['Fusca'] = 15000

In [64]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Fusca': 15000}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [65]:
del dados['Passat']

In [67]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'Fusca': 15000}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [69]:
dados.update({'Fusca': 15000})

In [72]:
dados.update({'Passat': 156000, 'Brasilia': 10000})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Fusca': 15000,
 'Passat': 156000,
 'Brasilia': 10000}

## *dict.copy()*

Cria uma cópia do dicionário.

In [78]:
dadosCopy = dados.copy()

In [79]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Fusca': 15000,
 'Passat': 156000,
 'Brasilia': 10000}

In [80]:
del dadosCopy['Fusca']
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Passat': 156000,
 'Brasilia': 10000}

In [81]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Fusca': 15000,
 'Passat': 156000,
 'Brasilia': 10000}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [83]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Passat': 156000,
 'Brasilia': 10000}

In [84]:
dadosCopy.pop('Passat')

156000

In [85]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'Brasilia': 10000}

In [86]:
# dadosCopy.pop('Passat')

KeyError: ignored

In [87]:
dadosCopy.pop('Passat', 'Chave não Encontrada')

'Chave não Encontrada'

In [88]:
dadosCopy.pop('Brasilia', 'Chave não Encontrada')

10000

In [89]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

## *dict.clear()*

Remove todos os itens do dicionário.

In [90]:
dadosCopy.clear()

In [91]:
dadosCopy

{}

# 3.4 Iterando em dicionários

In [92]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Fusca': 15000,
 'Passat': 156000,
 'Brasilia': 10000}

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [93]:
dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'Fusca', 'Passat', 'Brasilia'])

In [95]:
for key in dados.keys():
  print(dados[key])

88078.64
72832.16
15000
156000
10000

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [96]:
dados.values()

dict_values([88078.64, 72832.16, 15000, 156000, 10000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [97]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('Fusca', 15000), ('Passat', 156000), ('Brasilia', 10000)])

In [98]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('Fusca', 15000)
('Passat', 156000)
('Brasilia', 10000)

In [99]:
for key, value in dados.items():
  print(key, value)

Jetta Variant 88078.64
Crossfox 72832.16
Fusca 15000
Passat 156000
Brasilia 10000

In [101]:
for key, value in dados.items():
  if value > 100000:
    print(key)

Passat

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [102]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [103]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [104]:
soma = 0
for valor in dados.values():
  soma+= valor
soma

267072.74

In [105]:
sum(dados.values())

267072.74

In [107]:
sum(dados.values(), 1000000)

1267072.7399999998

In [108]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [109]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [110]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [113]:
def media(valor1, valor2, valor3):
  resultado = (valor1+valor2+valor3)/3
  print(resultado)

In [114]:
media (10, 4, 6)

6.666666666666667

In [121]:
def media(lista):
  valor = sum(lista)/len(lista)
  print(valor)

In [122]:
media([10,8,9,7,19,33])

14.333333333333334

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [48]:
def media(lista):
  valor = sum(lista)/len(lista)
  return valor

In [123]:
resultado = media([1,2,3,4,5,6,7,8,9])
resultado

5.0

In [124]:
def media(lista):
  valor = sum(lista)/len(lista)
  return (valor, len(lista))

In [125]:
resultado = media([1,2,3,4,5,6,7,8,9])
resultado

(5.0, 9)

In [126]:
resultado, n = media([1,2,3,4,5,6,7,8,9])
print(resultado)
print (n)

5.0
9

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

### Criando uma Series a partir de uma lista

### Criando um DataFrame a partir de uma lista de dicionários

In [49]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

### Criando um DataFrame a partir de um dicionário

In [50]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

### Criando um DataFrame a partir de uma arquivo externo

# 5.2 Seleções com DataFrames

### Selecionando colunas

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

# 5.3 Queries com DataFrames

### Utilizando o método query

# 5.4 Iterando com DataFrames

# 5.5 Tratamento de dados